<a href="https://colab.research.google.com/github/Thomas-D40/data-course/blob/main/Les_structures_de_donn%C3%A9es_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Les Series

Utilise des tableaux Numpy pour la rapidit√© de calcul

Un objet series peut contenir:
- float
- int
- bool
- datetime64[ns]
- datetime64[ns, tz]
- timedelta[ns]
- category
- object

In [42]:
from google.colab import drive
drive.mount('/gdrive')

Drive already mounted at /gdrive; to attempt to forcibly remount, call drive.mount("/gdrive", force_remount=True).

In [43]:
!ls /gdrive/MyDrive/python-data-course/

all-ages.csv		       food_info.csv	 titanic_survival.csv
fandango_score_comparison.csv  recent-grads.csv  world_alcohol.csv

In [84]:
import pandas as pd

url = "/gdrive/MyDrive/python-data-course/"

fandango = pd.read_csv(url + "fandango_score_comparison.csv")

fandango.head()

,FILM,RottenTomatoes,RottenTomatoes_User,Metacritic,Metacritic_User,IMDB,Fandango_Stars,Fandango_Ratingvalue,RT_norm,RT_user_norm,...,IMDB_norm,RT_norm_round,RT_user_norm_round,Metacritic_norm_round,Metacritic_user_norm_round,IMDB_norm_round,Metacritic_user_vote_count,IMDB_user_vote_count,Fandango_votes,Fandango_Difference
0,Avengers: Age of Ultron (2015),74,86,66,7.1,7.8,5.0,4.5,3.70,4.3,...,3.90,3.5,4.5,3.5,3.5,4.0,1330,271107,14846,0.5
1,Cinderella (2015),85,80,67,7.5,7.1,5.0,4.5,4.25,4.0,...,3.55,4.5,4.0,3.5,4.0,3.5,249,65709,12640,0.5
2,Ant-Man (2015),80,90,64,8.1,7.8,5.0,4.5,4.00,4.5,...,3.90,4.0,4.5,3.0,4.0,4.0,627,103660,12055,0.5
3,Do You Believe? (2015),18,84,22,4.7,5.4,5.0,4.5,0.90,4.2,...,2.70,1.0,4.0,1.0,2.5,2.5,31,3136,1793,0.5
4,Hot Tub Time Machine 2 (2015),14,28,29,3.4,5.1,3.5,3.0,0.70,1.4,...,2.55,0.5,1.5,1.5,1.5,2.5,88,19560,1021,0.5

## Indexage avec des entiers

Par d√©faut, Pandas indexe les series par des entiers allant de 0 √† n - 1 o√π n est len(series)

In [45]:
series_film = fandango["FILM"]
series_film.head()

0    Avengers: Age of Ultron (2015)
1                 Cinderella (2015)
2                    Ant-Man (2015)
3            Do You Believe? (2015)
4     Hot Tub Time Machine 2 (2015)
Name: FILM, dtype: object

In [46]:
series_rt = fandango["RottenTomatoes"]
series_rt.head()

0    74
1    85
2    80
3    18
4    14
Name: RottenTomatoes, dtype: int64

## Personnaliser l'**indexage**

In [47]:
from pandas import Series

series_custom = Series(index=series_film.values, data=series_rt.values) # Le Values permet d'avoir des listes de valeurs
series_custom.head()

Avengers: Age of Ultron (2015)    74
Cinderella (2015)                 85
Ant-Man (2015)                    80
Do You Believe? (2015)            18
Hot Tub Time Machine 2 (2015)     14
dtype: int64

In [48]:
series_custom["Minions (2015)"]

54

## R√©indexer un objet Series

In [49]:
# reindex()

In [50]:
sorted_index = series_custom.index.sort_values()

In [51]:
sorted_by_index = series_custom.reindex(sorted_index)
sorted_by_index.head()

'71 (2015)                    97
5 Flights Up (2015)           52
A Little Chaos (2015)         40
A Most Violent Year (2014)    90
About Elly (2015)             97
dtype: int64

## Trier un objet Series

In [52]:
# Series.sort_index()
# Series.sort_values()

In [53]:
sorted_by_value = series_custom.sort_values()
sorted_by_value.head(10)

Paul Blart: Mall Cop 2 (2015)     5
Hitman: Agent 47 (2015)           7
Hot Pursuit (2015)                8
Fantastic Four (2015)             9
Taken 3 (2015)                    9
The Boy Next Door (2015)         10
The Loft (2015)                  11
Unfinished Business (2015)       11
Mortdecai (2015)                 12
Seventh Son (2015)               12
dtype: int64

## Transformer des colonnes

In [54]:
series_custom / 10 # Permet de mettre les notations RT sur 10

Avengers: Age of Ultron (2015)                7.4
Cinderella (2015)                             8.5
Ant-Man (2015)                                8.0
Do You Believe? (2015)                        1.8
Hot Tub Time Machine 2 (2015)                 1.4
                                             ...
Mr. Holmes (2015)                             8.7
'71 (2015)                                    9.7
Two Days, One Night (2014)                    9.7
Gett: The Trial of Viviane Amsalem (2015)    10.0
Kumiko, The Treasure Hunter (2015)            8.7
Length: 146, dtype: float64

In [55]:
import numpy as np

np.add(series_custom, series_custom)

Avengers: Age of Ultron (2015)               148
Cinderella (2015)                            170
Ant-Man (2015)                               160
Do You Believe? (2015)                        36
Hot Tub Time Machine 2 (2015)                 28
                                            ...
Mr. Holmes (2015)                            174
'71 (2015)                                   194
Two Days, One Night (2014)                   194
Gett: The Trial of Viviane Amsalem (2015)    200
Kumiko, The Treasure Hunter (2015)           174
Length: 146, dtype: int64

In [56]:
# Appliquer la fonction sinus

np.sin(series_custom)

Avengers: Age of Ultron (2015)              -0.985146
Cinderella (2015)                           -0.176076
Ant-Man (2015)                              -0.993889
Do You Believe? (2015)                      -0.750987
Hot Tub Time Machine 2 (2015)                0.990607
                                               ...
Mr. Holmes (2015)                           -0.821818
'71 (2015)                                   0.379608
Two Days, One Night (2014)                   0.379608
Gett: The Trial of Viviane Amsalem (2015)   -0.506366
Kumiko, The Treasure Hunter (2015)          -0.821818
Length: 146, dtype: float64

In [57]:
# Max
np.max(series_custom)

100

### Quand on applique une fonction np √† un objet Series de Pandas, plut√¥t que de retourner un ndarray, on r√©cup√®re un objet Series

Exercice:
-Normaliser series_custom pour obtenir des notes de 0 √† 5 => Normalized series

In [58]:
normalized_series = series_custom / 20

In [60]:
normalized_series.head()

Avengers: Age of Ultron (2015)    3.70
Cinderella (2015)                 4.25
Ant-Man (2015)                    4.00
Do You Believe? (2015)            0.90
Hot Tub Time Machine 2 (2015)     0.70
dtype: float64

## Comparer et filtrer

In [61]:
series_custom > 50

Avengers: Age of Ultron (2015)                True
Cinderella (2015)                             True
Ant-Man (2015)                                True
Do You Believe? (2015)                       False
Hot Tub Time Machine 2 (2015)                False
                                             ...
Mr. Holmes (2015)                             True
'71 (2015)                                    True
Two Days, One Night (2014)                    True
Gett: The Trial of Viviane Amsalem (2015)     True
Kumiko, The Treasure Hunter (2015)            True
Length: 146, dtype: bool

In [63]:
greater_than_50 = series_custom[series_custom > 50]

In [64]:
criteria_one = series_custom > 50
criteria_two = series_custom < 75
both_creteria = series_custom[criteria_one & criteria_two]
both_creteria.head()

Avengers: Age of Ultron (2015)    74
The Water Diviner (2015)          63
Unbroken (2014)                   51
Southpaw (2015)                   59
Insidious: Chapter 3 (2015)       59
dtype: int64

## Alignement des donn√©es

- Cr√©er rt_critics qui index les valeurs des notes de TottenTomtaes avec comme index le nom des film
- rt_users: RotterTomates_User avec index FILM
- rt_mean qui contient la moyene (l'index est le m√™me pour les deux)

In [69]:
rt_critics = Series(data=fandango["RottenTomatoes"].values, index=fandango["FILM"])
rt_users = Series(data=fandango["RottenTomatoes_User"].values, index=fandango["FILM"])

rt_mean = (rt_critics + rt_users) / 2
rt_mean.head()

FILM
Avengers: Age of Ultron (2015)    80.0
Cinderella (2015)                 82.5
Ant-Man (2015)                    85.0
Do You Believe? (2015)            51.0
Hot Tub Time Machine 2 (2015)     21.0
dtype: float64

# Les DataFrames

- Garde l'alignement entre colonnes et lignes

In [73]:
fandango.index

RangeIndex(start=0, stop=146, step=1)

In [74]:
fandango.shape

(146, 22)

In [77]:
fandango.iloc[50]

FILM                          Pitch Perfect 2 (2015)
RottenTomatoes                                    67
RottenTomatoes_User                               68
Metacritic                                        63
Metacritic_User                                  5.7
IMDB                                             6.7
Fandango_Stars                                   4.5
Fandango_Ratingvalue                             4.2
RT_norm                                         3.35
RT_user_norm                                     3.4
Metacritic_norm                                 3.15
Metacritic_user_nom                             2.85
IMDB_norm                                       3.35
RT_norm_round                                    3.5
RT_user_norm_round                               3.5
Metacritic_norm_round                            3.0
Metacritic_user_norm_round                       3.0
IMDB_norm_round                                  3.5
Metacritic_user_vote_count                       192
IMDB_user_vote_count                           56333
Fandango_votes                                  4577
Fandango_Difference                              0.3
Name: 50, dtype: object

In [80]:
first_last = fandango.iloc[[0, len(fandango) - 1]]
first_last = fandango.iloc[[0, fandango.shape[0] - 1]]
first_last

,FILM,RottenTomatoes,RottenTomatoes_User,Metacritic,Metacritic_User,IMDB,Fandango_Stars,Fandango_Ratingvalue,RT_norm,RT_user_norm,...,IMDB_norm,RT_norm_round,RT_user_norm_round,Metacritic_norm_round,Metacritic_user_norm_round,IMDB_norm_round,Metacritic_user_vote_count,IMDB_user_vote_count,Fandango_votes,Fandango_Difference
0,Avengers: Age of Ultron (2015),74,86,66,7.1,7.8,5.0,4.5,3.70,4.30,...,3.90,3.5,4.5,3.5,3.5,4.0,1330,271107,14846,0.5
145,"Kumiko, The Treasure Hunter (2015)",87,63,68,6.4,6.7,3.5,3.5,4.35,3.15,...,3.35,4.5,3.0,3.5,3.0,3.5,19,5289,41,0.0

# Index personnalis√© via dataframe.set_index()

Par d√©faut, pandas cr√©e un nouvel index pour le dataframe et ajoute une colonne correspondant √† l'ancien index

In [92]:
fandango_films = fandango.set_index("FILM", drop=False, inplace=False)
fandango_films.head()

,FILM,RottenTomatoes,RottenTomatoes_User,Metacritic,Metacritic_User,IMDB,Fandango_Stars,Fandango_Ratingvalue,RT_norm,RT_user_norm,...,IMDB_norm,RT_norm_round,RT_user_norm_round,Metacritic_norm_round,Metacritic_user_norm_round,IMDB_norm_round,Metacritic_user_vote_count,IMDB_user_vote_count,Fandango_votes,Fandango_Difference
FILM,,,,,,,,,,,,,,,,,,,,,
Avengers: Age of Ultron (2015),Avengers: Age of Ultron (2015),74,86,66,7.1,7.8,5.0,4.5,3.70,4.3,...,3.90,3.5,4.5,3.5,3.5,4.0,1330,271107,14846,0.5
Cinderella (2015),Cinderella (2015),85,80,67,7.5,7.1,5.0,4.5,4.25,4.0,...,3.55,4.5,4.0,3.5,4.0,3.5,249,65709,12640,0.5
Ant-Man (2015),Ant-Man (2015),80,90,64,8.1,7.8,5.0,4.5,4.00,4.5,...,3.90,4.0,4.5,3.0,4.0,4.0,627,103660,12055,0.5
Do You Believe? (2015),Do You Believe? (2015),18,84,22,4.7,5.4,5.0,4.5,0.90,4.2,...,2.70,1.0,4.0,1.0,2.5,2.5,31,3136,1793,0.5
Hot Tub Time Machine 2 (2015),Hot Tub Time Machine 2 (2015),14,28,29,3.4,5.1,3.5,3.0,0.70,1.4,...,2.55,0.5,1.5,1.5,1.5,2.5,88,19560,1021,0.5

In [95]:
fandango_films.loc["Cinderella (2015)"]
fandango_films["Cinderella (2015)":]

,FILM,RottenTomatoes,RottenTomatoes_User,Metacritic,Metacritic_User,IMDB,Fandango_Stars,Fandango_Ratingvalue,RT_norm,RT_user_norm,...,IMDB_norm,RT_norm_round,RT_user_norm_round,Metacritic_norm_round,Metacritic_user_norm_round,IMDB_norm_round,Metacritic_user_vote_count,IMDB_user_vote_count,Fandango_votes,Fandango_Difference
FILM,,,,,,,,,,,,,,,,,,,,,
Cinderella (2015),Cinderella (2015),85,80,67,7.5,7.1,5.0,4.5,4.25,4.00,...,3.55,4.5,4.0,3.5,4.0,3.5,249,65709,12640,0.5
Ant-Man (2015),Ant-Man (2015),80,90,64,8.1,7.8,5.0,4.5,4.00,4.50,...,3.90,4.0,4.5,3.0,4.0,4.0,627,103660,12055,0.5
Do You Believe? (2015),Do You Believe? (2015),18,84,22,4.7,5.4,5.0,4.5,0.90,4.20,...,2.70,1.0,4.0,1.0,2.5,2.5,31,3136,1793,0.5
Hot Tub Time Machine 2 (2015),Hot Tub Time Machine 2 (2015),14,28,29,3.4,5.1,3.5,3.0,0.70,1.40,...,2.55,0.5,1.5,1.5,1.5,2.5,88,19560,1021,0.5
The Water Diviner (2015),The Water Diviner (2015),63,62,50,6.8,7.2,4.5,4.0,3.15,3.10,...,3.60,3.0,3.0,2.5,3.5,3.5,34,39373,397,0.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Mr. Holmes (2015),Mr. Holmes (2015),87,78,67,7.9,7.4,4.0,4.0,4.35,3.90,...,3.70,4.5,4.0,3.5,4.0,3.5,33,7367,1348,0.0
'71 (2015),'71 (2015),97,82,83,7.5,7.2,3.5,3.5,4.85,4.10,...,3.60,5.0,4.0,4.0,4.0,3.5,60,24116,192,0.0
"Two Days, One Night (2014)","Two Days, One Night (2014)",97,78,89,8.8,7.4,3.5,3.5,4.85,3.90,...,3.70,5.0,4.0,4.5,4.5,3.5,123,24345,118,0.0
Gett: The Trial of Viviane Amsalem (2015),Gett: The Trial of Viviane Amsalem (2015),100,81,90,7.3,7.8,3.5,3.5,5.00,4.05,...,3.90,5.0,4.0,4.5,3.5,4.0,19,1955,59,0.0
"Kumiko, The Treasure Hunter (2015)","Kumiko, The Treasure Hunter (2015)",87,63,68,6.4,6.7,3.5,3.5,4.35,3.15,...,3.35,4.5,3.0,3.5,3.0,3.5,19,5289,41,0.0

In [96]:
movies = ["Top Five (2014)", "Black Sea (2015)", "Taken 3 (2015)"]
fandango_films.loc[movies]

,FILM,RottenTomatoes,RottenTomatoes_User,Metacritic,Metacritic_User,IMDB,Fandango_Stars,Fandango_Ratingvalue,RT_norm,RT_user_norm,...,IMDB_norm,RT_norm_round,RT_user_norm_round,Metacritic_norm_round,Metacritic_user_norm_round,IMDB_norm_round,Metacritic_user_vote_count,IMDB_user_vote_count,Fandango_votes,Fandango_Difference
FILM,,,,,,,,,,,,,,,,,,,,,
Top Five (2014),Top Five (2014),86,64,81,6.8,6.5,4.0,3.5,4.30,3.2,...,3.25,4.5,3.0,4.0,3.5,3.5,124,16876,3223,0.5
Black Sea (2015),Black Sea (2015),82,60,62,6.6,6.4,4.0,3.5,4.10,3.0,...,3.20,4.0,3.0,3.0,3.5,3.0,37,16547,218,0.5
Taken 3 (2015),Taken 3 (2015),9,46,26,4.6,6.1,4.5,4.1,0.45,2.3,...,3.05,0.5,2.5,1.5,2.5,3.0,240,104235,6757,0.4

## Appliquer une fonction √† toutes les colonnes avec apply()

In [ ]:
# apply(fonction √† appliquer, axis)

In [97]:
import numpy as np

types = fandango_films.dtypes
types

FILM                           object
RottenTomatoes                  int64
RottenTomatoes_User             int64
Metacritic                      int64
Metacritic_User               float64
IMDB                          float64
Fandango_Stars                float64
Fandango_Ratingvalue          float64
RT_norm                       float64
RT_user_norm                  float64
Metacritic_norm               float64
Metacritic_user_nom           float64
IMDB_norm                     float64
RT_norm_round                 float64
RT_user_norm_round            float64
Metacritic_norm_round         float64
Metacritic_user_norm_round    float64
IMDB_norm_round               float64
Metacritic_user_vote_count      int64
IMDB_user_vote_count            int64
Fandango_votes                  int64
Fandango_Difference           float64
dtype: object

In [111]:
# Filtrer les nombres les float64

float_columns = types[types.values == 'float64'].index


float_df = fandango_films[float_columns]
float_df

# Application de l'√©cart type

deviations = float_df.apply(lambda x: np.std(x))
deviations = float_df.apply(np.std)

deviations.head()

# Exercice / 2
exo_df = float_df.apply(lambda x: x/2)
exo_df.head()

,Metacritic_User,IMDB,Fandango_Stars,Fandango_Ratingvalue,RT_norm,RT_user_norm,Metacritic_norm,Metacritic_user_nom,IMDB_norm,RT_norm_round,RT_user_norm_round,Metacritic_norm_round,Metacritic_user_norm_round,IMDB_norm_round,Fandango_Difference
FILM,,,,,,,,,,,,,,,
Avengers: Age of Ultron (2015),3.55,3.90,2.50,2.25,1.850,2.15,1.650,1.775,1.950,1.75,2.25,1.75,1.75,2.00,0.25
Cinderella (2015),3.75,3.55,2.50,2.25,2.125,2.00,1.675,1.875,1.775,2.25,2.00,1.75,2.00,1.75,0.25
Ant-Man (2015),4.05,3.90,2.50,2.25,2.000,2.25,1.600,2.025,1.950,2.00,2.25,1.50,2.00,2.00,0.25
Do You Believe? (2015),2.35,2.70,2.50,2.25,0.450,2.10,0.550,1.175,1.350,0.50,2.00,0.50,1.25,1.25,0.25
Hot Tub Time Machine 2 (2015),1.70,2.55,1.75,1.50,0.350,0.70,0.725,0.850,1.275,0.25,0.75,0.75,0.75,1.25,0.25

## Apply sur les lignes

N√©cessite de rajouter axis=1 pour l'appliquer sur les lignes plut√¥t que les colonnes

In [115]:
rt_mt_user = float_df[["RT_user_norm", "Metacritic_user_nom"]]
rt_mt_user.apply(np.std, axis=1)

FILM
Avengers: Age of Ultron (2015)               0.375
Cinderella (2015)                            0.125
Ant-Man (2015)                               0.225
Do You Believe? (2015)                       0.925
Hot Tub Time Machine 2 (2015)                0.150
                                             ...
Mr. Holmes (2015)                            0.025
'71 (2015)                                   0.175
Two Days, One Night (2014)                   0.250
Gett: The Trial of Viviane Amsalem (2015)    0.200
Kumiko, The Treasure Hunter (2015)           0.025
Length: 146, dtype: float64

In [117]:
# Exercice

rt_mt_means = float_df[["RT_user_norm", "Metacritic_user_nom"]].apply(np.mean, axis=1)
rt_mt_means.head()

FILM
Avengers: Age of Ultron (2015)    3.925
Cinderella (2015)                 3.875
Ant-Man (2015)                    4.275
Do You Believe? (2015)            3.275
Hot Tub Time Machine 2 (2015)     1.550
dtype: float64