<a href="https://colab.research.google.com/github/Thomas-D40/data-course/blob/main/Rappel_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Variables et types de données

In [1]:
days = 365

In [2]:
print(type(days))

<class 'int'>

Types de données natif:
- int
- float
- string
- boolean

In [4]:
str_int = "2"
print(type(str_int))
str_int = int(str_int)
print(type(str_int))

<class 'str'>
<class 'int'>

# Listes & Collections

## Liste

In [14]:
list = [] # Liste vide

list.append(1)
list.append("Février")
list.append(3)

print(list)
print(type(list))
print(list[0])
print(list[0:3])
print(len(list))

[1, 'Février', 3]
<class 'list'>
1
[1, 'Février', 3]
3

## Dictionnaire: logique clé-valeur vs index-valeur

In [15]:
dic = {}

dic["Janvier"] = 1
dic["Février"] = 2
dic["Mars"] = 3

print(dic)
print(type(dic))
print(dic["Janvier"])

{'Janvier': 1, 'Février': 2, 'Mars': 3}
<class 'dict'>
1

# Condition IF / ELSE

In [16]:
age = 29

if age > 35:
  print(age)
else:
  print("interdit")

interdit

# Boucle FOR

In [23]:
cities = ['Paris', 'Bordeaux', 'Marseille', 'Bordeaux', 'Bordeaux', 'Paris']

for city in cities:
  print(city)

Paris
Bordeaux
Marseille
Bordeaux
Bordeaux
Paris

In [24]:
cities_count = {}

for city in cities:
  if city in cities_count:
    cities_count[city] = cities_count[city] + 1
  else:
    cities_count[city] = 1

print(cities_count)

{'Paris': 2, 'Bordeaux': 3, 'Marseille': 1}

# Fonctions

In [27]:
def majeur(age):
  if age > 18:
    print("majeur")
  else:
    print("mineur")

In [28]:
majeur(19)

majeur